body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0d1015;
  font-weight: 600;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-brand{
  color: white;
}
.dropdown-menu{
  --bs-dropdown-min-width: 30rem;
  
}
.octicon{
  color: white;
}
.navbar{
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background 0.3s, color 0.3s;
  height: 50px;
  font-size: 16px;
 

}
.nav-link{
  color: white;
  padding: 5px;
}
.btn{
  background: black;
color: white;

}
.btn:hover{
  background: rgb(74, 73, 73);
color: rgb(219, 218, 218);

}
.img{
  background: url(https://wallpapercrafter.com/desktop/70098-planet-space-digital-universe-hd-4k-5k-8k-deviantart.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}


.div-l{
  margin-top: 100px;
  width: 100px;
}

.div-r{
  margin-top: 540px;
  color: white;
  width: 900px;
}

.div-r .first-con{
  display: flex;
  border: 1px solid rgb(174, 170, 170);
  border-radius: 50px;
  padding: 0px 10px;
  width: 600px;
  align-items: center;
  /* justify-content: start; */
  background:#402c2c;
background-blend-mode:screen;
text-align: start;
}


.second-con{
  text-align: start;
}

.second-con h1{
  font-size: 60px;
}
.second-con p{
  font-size: 30px;
  color: #3c3f46;
}
.second-con input{
  width: 300px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  height: 50px;
}

.second-con .btn-1{
  width: 150px;
  font-size: 15px;
  /* padding: 5px; */
  border-radius: 5px;
  /* margin-top: 20px; */
  background: #7145c1;
  color: rgb(247, 248, 249);
height: 50px;
border: none;
margin-bottom: 10px;
}

.second-con .btn-2{
  width: 200px;
  font-size: 15px;
 
  border-radius: 5px;

 
height: 50px;
border: none;
margin-bottom: 10px;
  background: transparent ;
  color: rgb(247, 248, 249);
  border: 1px solid rgb(194, 194, 194);
  margin-left: 40px;
  
}


.tre-con{
  width: 1100px;
  justify-content: space-around;
  margin: 50px 0px;
}

.div-2{
  display: flex;
  text-align: start;
  justify-content: left;
}
.div-2-l{
  width: 3px;
  height: 6300px;
  margin-left: 12px;
margin-top: -230px;
}


.div-2-r{
margin-left: 100px;
font-size: 30px;
width: 90%;
}

.div-2-r p{
  margin-left: -70px;
  font-size: 30px;
  color: white;
  }

  .div-2-r h1{
    color: white;
    font-size: 50px;

  }
  .div-2-r span{
    color: green;
    
    font-size: 50px;
  }

.div-3{
  width: 80%;
}
.div-3 img{
  position:relative;
  left: 1px;
  top: 0px;
  left: 0px;
  right: 10px;
  margin-top: 80px;
  margin-left: -80px;
}

.div-4{
  width: 95%;
  margin: auto;
  margin-top: 100px;
}
.div-4-con-1-l{
  width: 500px;
}

.div-4-con-1-l p{
  font-size: 25px;
  color: gray;
}
.div-4-con-1-l h4{
  margin-top: 40px;
  color: gray;
  margin-left: -70px;
}
.div-4-con-1-l span{
  font-size: 25px;
  color: white;
  /* margin-left: -50px; */
}
.div-4-con-1-r{
  width: 50%;
}
.div-4-con-1-r .img-1{
  width: 500px;
  margin-left: 30px;
}
.div-4-con-1-r .img-2{
  width: 400px;
  margin-left: 170px;
  margin-top: -600px;
  z-index: 10;
  position: relative;
}

.div-5{
margin-top: 10px;
align-items: center;

}

.div-5-l{
  margin-left: -100px;
}
.div-5-r{
  margin-left: 90px;
  text-align: left;

}
.div-5-r button{
background:transparent;
color: greenyellow;
border: 1px solid greenyellow;
font-size: 12px;
border-radius: 50px;
}

.div-5-r h1{
  
  color: greenyellow;
  
  font-size: 50px;
  }
  .div-5-r p{
    margin-left: 10px;
    font-size: 20px;
  }

.div-6{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 1100px;
  border: 1px solid gray;
  margin-left: -50px;
  border-radius: 30px;
  height: 400px;
  align-items: center;
}

.div-6 div{
width: 50%;

}

.div-6 p{
  font-size: 25px;
  color: gray;
  margin-left: 10px;
}
.div-6 h4{
  margin-top: 40px;
  color: gray;
  margin-left: 10px;
}
.div-6 span{
  font-size: 25px;
  color: white;
  /* margin-left: -50px; */
}

.div-6 img{
  width: 500px;
}
.div-6 img:hover{
  box-shadow: rgba(52, 126, 62, 0.56) 0px 22px 70px 4px;
}

.div-7{
  display: flex;
  justify-content: space-between;
margin-top: 50px;
margin-left: -50px;
width: 1100px;

}
.div-7 div{
  width: 525px;
  border: 1px solid gray;
border-radius: 10px;
padding: 20px 0px 0px 20px;

  
}

.div-7 div:hover{
  background: rgba(58, 98, 54, 0.17) 
  
}

.div-7 div img{
width: 100%;
}

.div-7 p{
  font-size: 25px;
  color: gray;
  margin-left: 10px;
}
.div-7 h4{
  margin-top: 40px;
  color: gray;
  margin-left: 10px;
}
.div-7 span{
  font-size: 25px;
  color: white;
  /* margin-left: -50px; */
}

.div-8{
  margin-top: 100px;
margin-left: -50px;
}
.div-8 p{
margin-left: 1px;
}

.div-8 h1{
font-size: 35px;
}
.div-8 span{
  color: rgb(222, 98, 53);
  font-size: 35px;
}


.div-9{
  width: 1150px;
  margin-left: -50px;
  margin-top: 100px;
  
}

.div-9 img{
  width: 100%;
  border-radius: 10px;
}
.div-10{
  display: flex;
  width: 1100px;
  position: relative;
  margin-top: -50px;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}
.div-10 div{
  width: 500px;
}

.div-10 p{
  font-size: 25px;
  color: gray;
  margin-left: 10px;
}
.div-10 h4{
  margin-top: 40px;
  color: gray;
  margin-left: 10px;
}
.div-10 span{
  font-size: 25px;
  color: white;
  /* margin-left: -50px; */
}





.div-10 div img{
width: 100%;
border-radius: 10px;
}

.div-11{
  align-items: center;
}
.div-11-l{
  margin-left: -105px;

}
.div-11-r{
  margin-left: 90px;
  text-align: left;

}
.div-11-r button{
background:transparent;
color: #fc9999;
border: 1px solid #fc9999;
font-size: 12px;
border-radius: 50px;
}

.div-11-r h1{
  
  color: rgb(255, 189, 47);
  
  font-size: 50px;
  }
  .div-11-r p{
    margin-left: 10px;
    font-size: 20px;
  }

  .footer{
    width: 100%;

  }
  .footer img{
    width: 100%;
    
  }


  .navbar-nav-scroll-on{
    background: black;
    height: 70px;
  }












@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








































