body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0d1015;
  font-weight: 600;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-brand{
  color: white;
}
.dropdown-menu{
  --bs-dropdown-min-width: 30rem;
  
}
.octicon{
  color: white;
}
.navbar{
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background 0.3s, color 0.3s;
  height: 50px;
  font-size: 16px;
 

}
.nav-link{
  color: white;
  padding: 5px;
}
.btn{
  background: black;
color: white;

}
.btn:hover{
  background: rgb(74, 73, 73);
color: rgb(219, 218, 218);

}
.img{
  background: url(https://addons-media.operacdn.com/media/CACHE/images/themes/33/243033/1.0-rev1/images/5dce46632490304ba4d5ea80aab18f78/6412b43fdec5dc48a7e05b604708fdd8.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}


.div-l{
  margin-top: 100px;
  width: 100px;
}

.div-r{
  margin-top: 500px;
  color: white;
  width: 900px;
}

.div-r .first-con{
  display: flex;
  border: 1px solid rgb(174, 170, 170);
  border-radius: 50px;
  padding: 0px 10px;
  width: 600px;
  align-items: center;
  /* justify-content: start; */
  background:#402c2c;
background-blend-mode:screen;
text-align: start;
}


.second-con{
  text-align: start;
}

.second-con h1{
  font-size: 60px;
}
.second-con p{
  font-size: 30px;
  color: #3c3f46;
}
.second-con input{
  width: 300px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  height: 50px;
}

.second-con .btn-1{
  width: 150px;
  font-size: 15px;
  /* padding: 5px; */
  border-radius: 5px;
  /* margin-top: 20px; */
  background: #7145c1;
  color: rgb(247, 248, 249);
height: 50px;
border: none;
margin-bottom: 10px;
}

.second-con .btn-2{
  width: 200px;
  font-size: 15px;
 
  border-radius: 5px;

 
height: 50px;
border: none;
margin-bottom: 10px;
  background: transparent ;
  color: rgb(247, 248, 249);
  border: 1px solid rgb(194, 194, 194);
  margin-left: 40px;
  
}


.tre-con{
  width: 1100px;
  justify-content: space-around;
  margin: 50px 0px;
}

.div-2{
  display: flex;
  text-align: start;
  justify-content: left;
}
.div-2-l{
  width: 3px;
  height: 3000px;
  margin-left: 12px;
margin-top: -230px;
}


.div-2-r{
margin-left: 100px;
font-size: 30px;
width: 90%;
}

.div-2-r p{
  margin-left: -70px;
  font-size: 30px;
  color: white;
  }

  .div-2-r h1{
    color: white;
    font-size: 50px;

  }
  .div-2-r span{
    color: green;
    
    font-size: 50px;
  }

.div-3{
  width: 80%;
}
.div-3 img{
  position:relative;
  left: 1px;
  top: 0px;
  left: 0px;
  right: 10px;
  margin-top: 80px;
  margin-left: -80px;
}
.div-3-con-2-l {
  width: 100%;
}

.div-3-con-2-l p{
  font-size: 20px;
}
.div-3-con-2-l span{
  font-size: 25px;
  color: white;
}


















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








































